{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recommended-scss",
    "stylelint-config-recess-order"
  ],
  "rules": {
    "color-no-hex": true,
    "import-notation": "string",
    "declaration-colon-newline-after": null,
    "indentation": null,
    "alpha-value-notation": "number",
    "number-leading-zero": "never"
  }
}
