@import "header";
@import "profile";
@import "festival";
@import "contact";
@import "footer";

html {
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: $font-family-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

main {
  flex: 1 0 auto;
  width: inherit;
  height: 100%;
  color: $dark-main-color;
}

h1 {
  text-align: center;
  color: $dark-main-color;
  text-transform: uppercase;
}
